.App {
  text-align: center;
}

.chat-box {
  margin: auto;
  margin-top: 25px;
  width: 60vw;
  border: 3px outset;
}

.header {
  background-color: #682323;
  color: white;
  text-align: left;
}

.head-text {
  padding: 2px;
  padding-left: 5px;
}

.head-buttons {
  text-align: right;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.sub-container {
  border: 3px inset;
  text-align: left;
  padding: 3px;
  overflow-y: scroll;
}

.message-list {
  height: 250px;
  max-height: 250px;
}

.message input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 2px 0;
  height: 75px;
  display: inline-block;
  border: 2px inset #ccc;
  box-sizing: border-box;
}

.message input[type=submit] {
  width: 100%;
  background-color: #c9c9c9;
  color: #1f1f1f;
  text-emphasis: bold;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
}

.message input[type=submit]:hover {
  background-color: #aaaaaa;
}