.App {
  text-align: center;
}

.chat-box {
  margin: auto;
  margin-top: 25px;
  width: 60vw;
  border-style: outset;
}

.header {
  background-color: #682323;
  color: white;
  text-align: left;
}

.head-text {
  padding: 2px;
  padding-left: 5px;
}

.head-buttons {
  text-align: right;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.sub-container {
  border-style: inset;
  text-align: left;
  padding: 3px;
}